<style>
.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}
.removeRow
{
 background-color: #dc3545;
    color:#FFFFFF;
}


</style>